global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend pg_write
    bind *:5432
    default_backend bk_write

backend bk_write
    mode tcp
    option httpchk GET /master
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni1 patroni-1:5432 check port 8008
    server patroni2 patroni-2:5432 check port 8008

frontend pg_readonly
    bind *:5434
    default_backend bk_readonly

backend bk_readonly
    mode tcp
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni1 patroni-1:5432 check port 8008
    server patroni2 patroni-2:5432 check port 8008
